.post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    margin-left: 8%;
}

.post-grid a {
    text-decoration: none;
    color: var(--negro);
}

.left-container,
.right-container {
    width: calc(50% - 10px);
}

.post {
    width: 100%; 
    margin-bottom: 20px;
}

.left-container .post{
    border-right: 2px solid var(--negro);
    padding: 1rem;
    padding-right: 2rem;
}

.left-container .post img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.left-container .post h1{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
}

.left-container .post h3{
    font-size: 0.9rem;
    color: var(--gris);
    text-transform: uppercase;
    
}

.left-container .post p{
    font-weight: 700;
    font-size: 1rem;
    text-align: justify;
}


.right-container .post img{
    width: 100%;
    filter: saturate(0%);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.right-container .post p{
    font-weight: 700;
    font-size: 1rem;
    text-align: justify;
}

.right-container .post h2{
    font-size: 1.5rem;
    color: var(--naranja);
    text-transform: uppercase;
}

.right-container .post h3{
    border-bottom: 2px solid var(--negro);
    font-size: 0.9rem;
    color: var(--gris);
    text-transform: uppercase;
}

.right-container .post{
    width: 70%;
    margin-left: 8%;
    padding-left: 1rem;
}


.loadMoreButton {
    background-color: var(--naranja);
    color: var(--blanco);
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}