<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Publicaciones</title>
</head>
<body>
    <h1>Lista de Publicaciones</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de publicaciones y mostrar la información -->
            <tr th:each="post : ${list}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.description}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/users/listUsers}"><button>Ver usuarios</button></a>
</body>
</html>
