.Login {
    background-image: url(../../assets/img/background.png);
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 9rem;
    position: absolute;
}

.Login div a{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10%;
    
}

.Login article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Login article .p-sides {
    width: 20%;
    color: var(--blanco);
    font-weight: 700;
    text-align: justify;
    font-size: 1.3rem;
    margin: 5%;
}

.Login article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo);
    padding: 2rem;
}

.Login article form h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.Login article form label{
    font-size: 1.8rem;
    font-weight: 700;
}

.Login article form input{
    width: 85%;
    background-color: var(--gris);
    border-radius: 0px;
    border: none;
    height: 3rem;
    font-size: 2rem;
}

.Login article form input::placeholder{
    font-size: 1.7rem;
}


.Login article .p {
    margin-top: 14%; /* Añade un margen superior del 20% */
}

.Login article .bottom-margin {
    margin-bottom: 14%; /* Añade un margen inferior del 20% */
}

.Login form input:focus {
    outline: none;
}

.text-b {
    color: var(--negro);
    font-weight: bold;
    margin-top: 0.5%;
    transition: .1s linear;
}

.text-b:hover {
    color: var(--naranja);
    transition: .1s linear;
}

.error {
    color: var(--naranja);
    margin: 0;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: var(--fondo);
    padding: 3rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
