.post-details {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    border-top: 2px solid var(--negro);
    border-left: 2px solid var(--negro);
    margin-bottom: -5%;
}

.post-details .banner {
    position: relative;
    width: 86%;
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1;
    border-right: 2px solid var(--negro);
}

.post-details .banner img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%) brightness(80%);
    height: 270px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.post-details .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--naranja);
    font-size: 2em;
    margin: 0;
    z-index: 2;
}


.post-details h1 {
    color: var(--naranja);
    color: #FF503F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.post-details article {
    border-top: 2px solid var(--negro);
    gap: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.PostBody {
    width: 68%;
    border-right: 2px solid var(--negro);
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.PostBody img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.PostBody p{
    text-align: justify;
    font-weight: 600;
}

.PostBody h2{
    text-align: justify;
    font-weight: 700;
    color: var(--naranja);
    text-transform: uppercase;
}

.PostBody h3{
    text-align: justify;
    font-weight: 500;
    margin-top: -2%;
    font-size: 1rem;
}

.asideUser {
    height: 100%;
    margin: 1%;
}

.userContainer {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--negro);
    height: 100%;
    margin: 1%;
}

.asideUser button{
    background-color: var(--naranja);
    border: none;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--blanco);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: 2px solid var(--naranja);
    transition: .2s linear;
}

.asideUser button:hover{
    background-color: var(--fondo);
    color: var(--naranja);
    transition: .2s linear;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.comentario {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    margin-top: 5%;
}

.comentario .ProfilePic {
    width: 20%;
}
.comentario p {
    margin-top: 0;
    font-weight: 500;
}

.comentario p span{
    font-weight: 700;
}