.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    gap: 8rem;
}

.column-i {
    width: 10%;
    margin-top: -5%;
}

.column-i p{
    text-align: left;
}

.column-d {
    width: 8%;
    margin-top: -5%;
}

.column-d p{
    text-align: right;
}

.top div {
    text-align: center;
}

.list {
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    font-size: 2rem;
    width: 100%;
}

.top h2 {
    margin-top: -6%;
    font-size: 2rem;
    color: var(--naranja);
}

.bottom {
    color: #fff;
    background-image: url(../../assets/img/divhome.png);
    background-size: cover;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: -8%;
}

.bottom p {
    font-size: 1.1rem;
    font-weight: bold;
    width: 20%;
    margin-top: 6%;
}

.joinButton {
    text-decoration: none;
    font-weight: 900;
    font-size: 3.4rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;    
    background-color: var(--naranja);
    color: var(--blanco);
}

.text-a {
    color: var(--blanco);
    font-weight: bold;
    margin-top: 0.5%;
}