footer {
    border-top: 3px solid var(--negro);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    justify-content: center;
    place-items: center;
    text-align: center;
    margin: 5%;
    padding-top: 3rem;
}

footer div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-top: 0;
}

footer h1 {
    color: var(--naranja);
    margin-bottom: 0;
}

footer div a{
    text-decoration: none;
    color: var(--negro);
    font-weight: 700;
}

footer div a:hover{
    text-decoration: underline;
}
