.admin-dashboard {
    display: flex;
    flex-direction: column;
}

.admin-dashboard h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
    text-transform: uppercase;
}

.admin-dashboard section {
    margin-bottom: 2rem;
}

.admin-dashboard .contenido {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    padding: 3rem;
    padding-top: 1rem;
    margin: 1%;
    border: 2px solid var(--negro);
}

.admin-dashboard article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-dashboard h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.admin-dashboard ul {
    list-style: none;
    padding: 0;
}

.admin-dashboard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--gris);
}

.admin-dashboard button {
    background-color: var(--naranja);
    color: var(--blanco);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .2s linear;
}

.admin-dashboard button:hover {
    background-color: var(--negro);
    transition: .2s linear;
}
