.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    border-top: 2px solid var(--negro);
    border-left: 2px solid var(--negro);
    margin-bottom: -5%;
}

.user-details .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 86%;
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1;
    border-right: 2px solid var(--negro);
}

.user-details .banner img {
    width: 100%;
    height: auto;
    display: block;
    /* filter: saturate(0%); */
    height: 270px;
    z-index: 1;
    border-right: 2px solid var(--negro);
    aspect-ratio: 16 / 9; /* esto ha sido clave monica  */
    object-fit: cover;
}

.user-details h1 {
    color: var(--naranja);
    color: #FF503F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.user-details article {
    border-top: 2px solid var(--negro);
    gap: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.UserBody {
    width: 66%;
    border-right: 2px solid var(--negro);
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.UserBody p{
    width: 90%;
    text-align: justify;
    font-weight: 600;
    font-size: 1.1rem;
}

.UserBody h1{
    font-size: 1.5rem;
}

.UserBody h3{
    margin-top: -2%;
}

.UserBody h2{
    color: var(--naranja);
    font-weight: 800;
    font-size: 2rem;
}

.UserBody .ProfilePic{
    width: 10%;
    margin-top: -7%;
    margin-bottom: -2%;
    z-index: 4;
    position: relative;
}

.asideUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
    height: 100%;
    margin: 1%;
}

.asideUser h2{
    color: var(--naranja);
    text-align: left;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4%;
}

.user .ProfilePic{
    width: 22%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    color: var(--negro);
}

.asideUser a{
    text-decoration: none;
}

.userInfo h3{
    color: var(--naranja);
    text-transform: uppercase;
    margin-bottom: -4%;
}

.userInfo p{
    font-weight: 700;
}

.ProfilePic {
    border-radius: 1000px;
    border: 2px solid var(--negro);
    width: 25%;
    filter: saturate(var(--saturation));
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}

.post-list {
    list-style: none;
    padding: 0;
}

.project {
    position: relative;
    margin-bottom: 20px;
}

.project h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: var(--titulo);
    font-size: 3em;
    text-align: center;
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
}

.project img {
    width: 100%;
    height: 50vh;
    display: block;
    z-index: 1;
    filter: brightness(30%);
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: .2s linear;
}

.project img:hover {
    filter: brightness(10%);
    transition: .2s linear;
}

.edit-profile-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--naranja);
    color: var(--blanco);
    text-align: center;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 60%;
}

.edit-profile-button:hover {
    background-color: var(--negro);
    color: var(--blanco);
    transition: .2s linear;
}
