:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: auto;

  color-scheme: light dark;
  color: var(--negro);
  background-color: var(--fondo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --naranja: #FF503F; 
  --blanco: #FFFFFF; 
  --negro: #1E1E1E; 
  --fondo: #E5E3E1;
  --gris: #B6B6B6;
  --saturation: 0%;
  --titulo: #FF503F;
}

.botonNaranja {
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--naranja);
  color: var(--blanco);
}

span {
  color: var(--naranja);
}

.accessibility-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--naranja);
  color: var(--blanco);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700 ;
  text-transform: uppercase;
}

.accessibility-button:hover {
  background-color: var(--negro);
}
